body {
    font-family: 'Poppins', sans-serif;
}

.head {
    background: rgba(255, 144, 14, 0.1);
    width: 1920px;
    height: 1322px;
}

.nav {
    display: flex;
    gap: 673px;
}

.logo {
    font-size: 45px;
    margin-top: 2px;
    margin-left: 228px;
}

.nav-bar {
    font-size: 18px;
    display: flex;
    color: #424242;
    gap: 30px;
    margin-top: 75px;
    margin-right: 217px;
}

.heading {
    text-align: center;
}

.heading-title {
    font-size: 64px;
    color: #131313;
}

.heading-pragrap {
    color: #727272;
    font-size: 16px;
}

.heading-buttom {
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    margin-left: 850px;
    margin-right: 850px;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}

.headin-img {
    margin-top: 50px;
    border-radius: 8px;
    width: 1440px;
    height: 700px;
    margin-left: 240px;
    margin-bottom: 95px;
}

/* main */

.quick-list {
    display: flex;
    gap: 73px;
}

.quick-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 250px;
    margin-left: 301px;
    gap: 10px;
}

.quick-text {
    margin-top: 400px;
    margin-left: 0%;

}

.quick-text h2 {
    font-size: 45px;

}

.quick-text p {
    font-size: 16px;

}

.quick-explore {
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 400px;
    background: #FF900E;
    border-radius: 8px;
    padding: 15px;
    text-align: center;

}

/* features */
.features {
    margin: 130px 50px 0px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.year10 {
    font-size: 50px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    padding: 0px;
    text-align: center;

    margin-left: 800px;
    margin-right: 600px;
}

.features-head h3 {
    font-size: 45px;
    color: #131313;
}

.features-dip {

    margin-left: 50px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.features-img {
    width: 708px;
    height: 982px;
}

.facts {
    margin-left: 240px;
}

.facts h3 {
    font-size: 45px;
    color: #131313;
}

.facts p {
    font-size: 16px;
    color: #727272;
}

.awards {
    margin-top: 100px;
    margin-left: 290px;
    margin-left: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.awards-img {

    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 20px;
}

.our-sponspor {
    margin-top: 180px;
    margin-left: 670px;
    margin-right: 670px;
    text-align: center;
}

.sponspors h3 {
    font-size: 45px;
    color: #131313;
}

.sponspors p {
    font-size: 16px;
    color: #727272;
}

.sponspors-img {
    margin-top: 50px;
    margin-left: 240px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.footer {
    border: 1px solid #865518;
    ;
    margin-top: 150px;
    margin-bottom: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    color: #424242;
}

@media screen and (max-width:576px) {

    
    
    .year10,
    .Some-Facts,
    .our-sponspor 
     {
        display: none;
    }
    .container{
        width: 375px;
        height: 667px;
    }

    .head {
        background: rgba(255, 144, 14, 0.1);
        width: 375px;
        height: 667px;
    }

    .logo {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .nav-bar {
        margin: 20px 0px 20px 0px;

    }

    .nav {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 0%;
        margin-top: 0px;

    }
    .heading-title{
        margin: 0%;
        padding: 0%;
        gap: 0%;
    }
    .headin-img,.heading-buttom{
        display: none;
    }
    .main,.quick-list,.quick-img{
        margin-top: 300px;
        margin-left: 0%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .quick-text {
        margin-top: 0%;
      
    }
    .quick-text h2{
        margin-top: 0%;
        font-size: 40px;
    }
    .quick-text p{
        font-size: 10px;
    }

    .features,.sponspors-img{
        display: flex;
        flex-direction: column;
        gap: 0%;
        margin-top: 0px;
    }
    .features-dip{
        display: none;
    }
    .features-img{
       display: none;
    }
    .sponspors-img{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 10px;
        width: 100px;
       
    }
    .footer{
        width: 400px;
    }   
}

